/*
The following color theme will
be used for the website:
*/
* {
    box-sizing: border-box;
}

/* BEGIN SMALL SCREEN QUERY */
/*===============
CODE COMMON TO ALL PAGES
===============*/
/* Navbar */
/* .navbar {
    background-color: white !important;
    height: 70px;
    transition: 200ms linear;
}
.scrolledNav {
    background-color: pink;
    transition: 200ms linear;
} */
/* .navbar-collapse {
    width: 100%;
} */
/* .scrolledLink {
    color: white;
} */
/* Spacer div */
.spacer {
    width: 100%;
    height: 56px;
}
/* main {
    transform: translateY(56px);
} */
/*I'm not sure if this is
the best solution.*/
/* Footer */
footer {
    background-color: #373737;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media .fa {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: #FF8B94;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
.fa-instagram {
    padding: 8px 9px;
}
.fa-facebook {
    padding: 8px 12px;
}
.fa-linkedin {
    padding: 8px 9px;
}

.social-media .fa:hover {
    text-decoration: none;
    background-color: #e75480;
    transition: .2s ease-in-out;
}

/*===============
HOME PAGE
===============*/
.dailyQuote {
    width: 700px;
    height: 300px;
    background-color: #FE9A9A;
    position: relative;
}
.dailyQuote img {
    float: right;
}
.dailyQuoteText {
    width: 300px;
    height: 200px;
    position: absolute;
    /* left: 50px; */
    top: 50%;
    transform: translateY(-50%);
}
/* .quoteText {
    width: 500px;
    height: 300px;
    background-color: #FE9A9A;
    position: relative;
}
.quoteText img {
    position: absolute;
    right: 0;
} */
/*===============
ABOUT PAGE
===============*/
#about .container {
    margin-top: 70px !important;
}

/*===============
CONTACT PAGE
===============*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
fieldset {
    width: 95%;
}
input, textarea, 
button[value="submit"] {
    width: 100%;
    border-radius: 5px;
}
input {
    margin-bottom: 15px;
}
input, textarea {
    transition: .3s ease-in-out;
}
input:focus,
textarea:focus {
    background-color: #FFC0CB;
    outline: none;
    transition: .3s ease-in-out;
}
textarea {
    margin-bottom: 10px;
}
button[value="submit"] {
    background-color: #FF8B94;
    transition: .3s ease-in-out;
}
button[value="submit"]:hover {
    background-color: #E75480;
    transform: scale(1.01);
    transition: .3s ease-in-out
}



/*END SMALL SCREEN QUERY*/

@media (min-width: 768px) {
    /*===============
    CODE COMMON TO ALL PAGES
    ===============*/
    
}

/*END MEDIUM SCREEN QUERY*/

@media (min-width: 1024px) {
    /*===============
    CODE COMMON TO ALL PAGES
    ===============*/
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .scrolledNav {
        height: 55px;
    }
    /* Up-arrow */
    .up-arrow {
        background-color: rgba(55,55,55,0.5);
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 70px;
        right: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
        cursor: pointer;
    }
    .up-arrow i {
        margin-bottom: 5px;
        font-size: 35px;
    }
    .up-arrow:hover {
        background-color: #373737;
        box-shadow: 0px 5px 15px 0px #373737;
        transition: .2s ease-in-out;
    }
    /*===============
    CONTACT PAGE
    ===============*/
    fieldset {
        width: 65%;
    }

}
/*==========
OTHER
==========*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}