/*
The following color theme will
be used for the website:
*/
* {
    box-sizing: border-box;
}

/* BEGIN SMALL SCREEN QUERY */
/*===============
CODE COMMON TO ALL PAGES
===============*/
/* fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 900;
}
p, a, input, li, button {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 900; */
}
/* Navbar */
.navbar {
    height: 70px;
    transition: 200ms linear;
}
.scrolledNav {
    background-color: #FE9A9A;
    transition: 200ms linear;
}
/* Spacer div */
.spacer {
    width: 100%;
    height: 70px;
}
/* pageTitle */
.pageTitle {
    background-image: url('images/love5.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
}
.pageTitle h1 {
    color: #373737;
    width: 75%;
    background-color: rgba(254,154,154,0.5);
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #373737;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media .fa {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: #FF8B94;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
.fa-instagram {
    padding: 8px 9px;
}
.fa-facebook {
    padding: 8px 12px;
}
.fa-linkedin {
    padding: 8px 9px;
}

.social-media .fa:hover {
    text-decoration: none;
    background-color: #e75480;
    transition: .2s ease-in-out;
}

/*===============
HOME PAGE
===============*/
.jumbotron {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    position: relative;
}
.jumbo-image {
    padding: 2rem 1rem;
}

/*-----Weather API-----*/
.weather {
    background-color: white;
    position: absolute;
    right: 0;
    /* width: 200px; */
    cursor: default;
    height: 100%;
}
.weather .buttonCollapse {
    background-color: transparent;
}
.weather .input {
    /* position: absolute; */
    /* bottom: 0; */
    margin-bottom: auto;
}
.weatherUl {
    list-style-type: none;
    padding-left: 0;
}
.weather1 {
    /* background-image: url('images/weather/sunny.png'); */
    background-size: cover;
    background-position: top;
    height: 200px;
}
.weatherDesc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255,218,185,0.5), rgba(225,228,181,0.5) 80%, transparent 95%);
    padding: 0.5rem;
}
.weatherDesc p {
    margin-bottom: 0.5rem;
}
/* .weatherDesc:first-child {
    font-size: 1.5rem;
} */
/* .input {
    width: 30%;
} */

/*----------
Section main-content
----------*/

.modal-dialog {
    max-width: 90vw;
}
/*Once you fix the quote image,
you'll be able to specify this value.*/

#main-content {
    background-color: white;
}

/*---4 cards---*/
#main-content .col-md-6 {
    padding: 0;
}

/* .card {
    position: relative;
}

.card img {
    position: absolute;
    z-index: 0;
} */

.home-card {
    height: 249px;
    background-size: cover;
    position: relative;
    transition: .4s;
}

.home-card:hover {
    transition: .4s;
}

.home-card1 {
    background-image: url('images/card/calendar2.png');
}

.home-card2 {
    background-image: url('images/card/adena3.png');
}

.home-card3 {
    background-image: url('images/card/products2.png');
}

.home-card4 {
    background-image: url('images/card/products.png');
}

.home-card-info {
    position: absolute;
    height: 100%;
    background-color: rgba(255,182,193,0.5);
    z-index: 1;
    transition: .3s ease-in-out;
    width: 100%;
    opacity: 1;
}

.home-card-info p {
    padding: 30px;
    opacity: 1;
    color: white;
    transition: .3s ease-in-out;
}

/*----------
Section secondary-content
----------*/
#secondary-content {
    background-image: url('images/love4.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#maryKayQuote {
    /* background-image: url('images/maryKay4.png');
    background-size: cover; */
    width: 70%;
    height: 325px;
    position: relative;
}
/* .dailyQuote {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(90deg, #e75480 40%, #FE9A9A 60%); 
    background-color: #FE9A9A;
    position: relative;
} */
.dailyQuote img {
    width: 100%;
    float: right;
    /* height: 300px; */
}
.dailyQuoteText {
    display: none;
}
.dailyQuoteText p {
    margin-bottom: 0;
}
.dailyQuoteTextName {
    display: none;
}
/*fix the specifics later*/
.dailyQuoteText, .dailyQuoteTextName {
    background-color: rgba(255,218,185,0.5);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
/*
.quoteText img {
    position: absolute;
    right: 0;
} */
/*----Modal Cards----*/
div[data-toggle="modal"] {
    cursor: pointer;
}

/*----------
Section secondary-content
----------*/
#tertiary-content {
    background-color: #ffe4e1;
}
/*===============
ABOUT PAGE
===============*/
#about {
    background-color: #F8F8FF;
}
.adenaRandomImg img {
    border: 10px solid #FFE4E1;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/*===============
CONTACT PAGE
===============*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
fieldset {
    width: 95%;
}
input, textarea, 
button[value="submit"] {
    width: 100%;
    border-radius: 5px;
}
#contact input {
    margin-bottom: 15px;
}
input, textarea {
    transition: .3s ease-in-out;
}
input:focus,
textarea:focus {
    background-color: #FFC0CB;
    outline: none;
    transition: .3s ease-in-out;
}
textarea {
    margin-bottom: 10px;
}
button[value="submit"] {
    background-color: #FF8B94;
    transition: .3s ease-in-out;
}
button[value="submit"]:hover {
    background-color: #E75480;
    transform: scale(1.01);
    transition: .3s ease-in-out
}



/*END SMALL SCREEN QUERY*/

@media (min-width: 768px) {
    /*===============
    CODE COMMON TO ALL PAGES
    ===============*/
    .home-card {
        height: 249px;
    }
    
}

/*END MEDIUM SCREEN QUERY*/

@media (min-width: 1024px) {
    /*===============
    CODE COMMON TO ALL PAGES
    ===============*/
    /* navbar */
    .navbar-nav .nav-link::before {
        content: '';
        display: block;
        width: 0%;
        top: -21px;
        left: 0;
        height: 7px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #800000;
        position: relative;
        transition: all ease-in-out 250ms;
    }
    .navbar-nav .nav-link:hover::before {
        width: 100%;
    }
    .navbar-nav .active::before {
        content: '';
        display: block;
        width: 100%;
        top: -21px;
        border-radius: 0px;
        left: 0;
        height: 7px;
        background-color: #373737;
        position: relative;
    }
    .navbar-nav .active {
        font-weight: 900;
    }
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    } /*
    .nav-item:last-child {
        border: none;
    }
    .nav-item-active {
        background-color: #800000;
    }
    .nav-link-active {
        font-weight: 900;
        background-color: #373737;
        color: #FF8B94 !important;
    }
    .nav-item:hover {
        background-color: #B22222;
        border-radius: 5px;
        transition: .3s;
    } */
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .scrolledNav {
        height: 55px;
    }
    /* Up-arrow */
    .up-arrow {
        background-color: rgba(55,55,55,0.5);
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 70px;
        right: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
        cursor: pointer;
    }
    .up-arrow i {
        margin-bottom: 5px;
        font-size: 35px;
    }
    .up-arrow:hover {
        background-color: #373737;
        box-shadow: 0px 5px 15px 0px #373737;
        transition: .2s ease-in-out;
    }
    /*===============
    HOME PAGE
    ===============*/
    .modal-dialog {
        max-width: 700px;
    }
    .jumbo-image {
        padding: 4rem 2rem;
    }    

    /*----------
    section main-content
    ----------*/
    .home-card {
        height: 300px;
        background-size: cover;
        background-position: center;
        position: relative;
        transition: .4s;
    }
    
    .home-card:hover {
        transition: .4s;
    }
    
    .home-card1 {
        background-image: url('images/card/calendar1.png');
    }
    
    .home-card1:hover {
        background-image: url('images/card/calendar2.png');
    }
    
    .home-card2 {
        background-image: url('images/card/adena4.jpg');
    }
    
    .home-card2:hover {
        background-image: url('images/card/adena3.png');
    }
    
    .home-card3 {
        background-image: url('images/card/hellofall.png');
    }
    
    .home-card3:hover {
        background-image: url('images/card/products2.png');
    }
    
    .home-card4 {
        background-image: url('images/card/products4.png');
    }
    
    .home-card4:hover {
        background-image: url('images/card/products.png');
    }
    
    .home-card-info {
        height: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    
    .home-card:hover .home-card-info {
        height: 100%;
        transition: .3s ease-in-out;
    }
    
    .home-card:hover .home-card-info p {
        color: #DC143C;
        font-weight: 900;
        font-size: 2rem;
        opacity: 1;
        transition: .3s ease-in-out;
    }

    .home-card:hover .home-card-info {
        opacity: 1;
    }
    /*---Daily Quote---*/
    .dailyQuoteText, .dailyQuoteTextName {
        display: block;
    }

    .dailyQuoteText {
        width: 330px;
        /* height: 2px; */
        position: absolute;
        top: 15%;
        left: 30%;
        /* transform: translateX(-30px); */    
    }

    .dailyQuoteTextName {
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        bottom: 50px;    
    }

    /*---Home Card---*/
    .home-card-info {
        height: 0px;
    }
    .home-card-info p {
        opacity: 0;
    }

    
    /*===============
    CONTACT PAGE
    ===============*/
    fieldset {
        width: 65%;
    }

}
/*==========
OTHER
==========*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}