/*
The following color theme will
be used for the website:

#DC3545 for the navbar
*/
* {
    box-sizing: border-box;
}

/* BEGIN SMALL SCREEN QUERY */
/*===============
CODE COMMON TO ALL PAGES
===============*/
/* Sticky footer */
/* body {
    position: relative;
    min-height: 100%;
    margin: 0;
} */
/* body::after {
    content: '';
    display: block;
    height: 150px;
} */
/* fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 900;
}
p, a, input, li, button {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 900; */
}
a {
    color: #FF8B94;
    text-decoration-color: #FF8B94;
}
a:hover {
    color: #E75480;
    text-decoration-color: #E75480;
}
a:visited {
    color: #FF1493;
    text-decoration-color: #FF1493;
}
/* Navbar */
.navbar {
    /* height: 100px; */
    transition: 200ms linear;
}
.scrolledNav {
    background-color: #FE9A9A;
    transition: 200ms linear;
}
.nav-link {
    padding: 1rem;
}
.logo-image {
    width: 100px;
    transition: all .5s ease-in-out;
    border-radius: 21% 79% 62% 38% / 50% 28% 72% 50% ;

}
/* .navbar-brand {
    background-color: #fff0f5;
    border-radius: 19% 81% 42% 58% / 65% 45% 55% 35%  ;
} */
/* Navbar collapse toggler button */

.navbar-toggle {
    position: relative;
    width: 50px;
    height: 35px;
    padding: .25rem .73rem;
}

.icon-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 2px;
    background-color: #595959;
    width: 60%;
    border-radius: 5px;
    transition: all 0.2s;
}

.top-bar {
    top: 25%;
}

.middle-bar {
    top: 50%;
}

.bottom-bar {
    top: 75%;
}

/* .collapsed .top-bar {
    transform: rotate(0);
}

.collapsed .middle-bar {
    opacity: 1;
}

.collapsed .bottom-bar {
    transform: rotate(0);
} */

/* .navbar-toggle {
    border: none;
    background: transparent !important;
} */

/* .navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
} */

/* .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
} */
.menu-open .top-bar,
.menu-open .bottom-bar {
    left: 30%;
}

.menu-open .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    /* transform: translateX(-25%); */
}
.menu-open .middle-bar {
    opacity: 0;
}
.menu-open .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* Spacer div */
.spacer {
    width: 100%;
    height: 126px;
}
/* pageTitle */
.pageTitle {
    background-image: url('images/love5.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
}
.pageTitle h1 {
    color: #373737;
    width: 75%;
    background-color: rgba(254,154,154,0.5);
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #373737;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Sticky footer
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */
    position: relative;
}
footer p {
    margin-bottom: 0;
}

.social-media .fa {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: #FF8B94;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
.fa-instagram {
    padding: 8px 9px;
}
.fa-facebook {
    padding: 8px 12px;
}
.fa-linkedin {
    padding: 8px 9px;
}

.social-media .fa:hover {
    text-decoration: none;
    background-color: #e75480;
    transition: .2s ease-in-out;
}

/* Other */
.vl::before {
    content: "";
    display: none;
    height: 90%;
    width: 1px;
    background-color: #DDD;
    position: absolute;
    top: 5%;
    left: 58.2%;
}
hr {
    margin: 2rem 0;
}
#siteseal {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
/*===============
HOME PAGE
===============*/
.jumbotron {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    position: relative;
    background: linear-gradient(rgba(255,139,148,0.4), rgba(255,139,148,0.4)), url('images/adenaPug.png') no-repeat center;
    background-size: cover;
    background-position: 50% 50%;
    height: 50vh;
    position: relative;
}
#jumbo-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    width: 100%;
}
/* #jumbo-text h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
#jumbo-text p {
    font-size: 2rem;
} */
/* .navbar {
    opacity: 0.5;
} */
/* .jumbo-image {
    padding: 2rem 1rem;
} */

/*-----Weather API-----*/
.weather {
    /* background-color: white; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* width: 200px; */
    cursor: default;
    height: 275px;
}
#currentWeather {
    background-color: white;
    border-top: 2px solid #e75480;
    border-left: 2px solid #e75480;
    border-bottom: 2px solid #e75480;
}
.weather .buttonCollapse {
    background-color: transparent;
}
.weather .input {
    /* position: absolute; */
    /* bottom: 0; */
    margin-bottom: auto;
}
.weatherUl {
    list-style-type: none;
    padding-left: 0;
}
.weather1 {
    /* background-image: url('images/weather/sunny.png'); */
    background-size: cover;
    background-position: top;
    height: 200px;
}
.weatherDesc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255,218,185,0.5), rgba(225,228,181,0.5) 80%, transparent 95%);
    padding: 0.5rem;
}
.weatherDesc p {
    margin-bottom: 0.5rem;
}
/* .weatherDesc:first-child {
    font-size: 1.5rem;
} */
/* .input {
    width: 30%;
} */

/*----------
Section main-content
----------*/

.modal-dialog {
    max-width: 90vw;
}
/*Once you fix the quote image,
you'll be able to specify this value.*/

#main-content {
    background-color: white;
}

/*---4 cards---*/
#main-content .col-md-6 {
    padding: 0;
}

/* .card {
    position: relative;
}

.card img {
    position: absolute;
    z-index: 0;
} */

.home-card {
    height: 249px;
    background-size: cover;
    position: relative;
    transition: .4s;
}

.home-card:hover {
    transition: .4s;
}

.home-card1 {
    background-image: url('images/card/calendar2.png');
}

.home-card2 {
    background-image: url('images/card/adena5.jpg');
}

.home-card3 {
    background-image: url('images/card/helloDecember.jpg');
}

.home-card4 {
    background-image: url('images/card/products.png');
}

.home-card-info {
    position: absolute;
    height: 100%;
    background-color: rgba(255,182,193,0.5);
    z-index: 1;
    transition: .3s ease-in-out;
    width: 100%;
    opacity: 1;
}

.home-card-info p {
    padding: 30px;
    opacity: 1;
    color: white;
    transition: .3s ease-in-out;
}

/*----------
Section secondary-content
----------*/
#secondary-content {
    background-image: url('images/love4.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#secondary-content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#maryKayQuote {
    /* background-image: url('images/maryKay4.png');
    background-size: cover; */
    width: 70%;
    height: 242px;
    position: relative;
}
/* .dailyQuote {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(90deg, #e75480 40%, #FE9A9A 60%); 
    background-color: #FE9A9A;
    position: relative;
} */
.dailyQuote img {
    width: 100%;
    float: right;
    /* height: 300px; */
}
.dailyQuoteText {
    display: none;
}
.dailyQuoteText p {
    margin-bottom: 0;
}
.dailyQuoteTextName {
    display: none;
}
/*fix the specifics later*/
.dailyQuoteText, .dailyQuoteTextName {
    background-color: rgba(255,218,185,0.5);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    font-weight: 900;
}
.quoteBackgroundImage {
    height: 242px;
}
/*
.quoteText img {
    position: absolute;
    right: 0;
} */
/*----Modal Cards----*/
div[data-toggle="modal"] {
    cursor: pointer;
}
#ChristmasCountdown {
    background-color: #DC143C;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 7px double #008000;
}
.xmasWait {
    width: 200px;
}

/*----------
Section tertiary-content
----------*/
#tertiary-content {
    background-color: #ffe4e1;
}
.spanLink {
    color: #FF1493;
    cursor: pointer;
}
.spanLink:hover {
    text-decoration: underline;
    text-decoration-color: #FF1493;
}
/*===============
ABOUT PAGE
===============*/
#about {
    background-color: #F8F8FF;
}
.adenaRandomImg img {
    border: 10px solid #FFE4E1;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/*===============
CONTACT PAGE
===============*/
#contact .container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
fieldset {
    width: 95%;
}
input[type="text"], textarea, 
button[value="submit"] {
    width: 100%;
    border-radius: 5px;
}
#contact input {
    margin-bottom: 15px;
}
input, textarea {
    transition: .3s ease-in-out;
}
input:focus,
textarea:focus {
    background-color: #FFC0CB;
    outline: none;
    transition: .3s ease-in-out;
}
textarea {
    margin-bottom: 10px;
}
button[value="submit"] {
    background-color: #FF8B94;
    transition: .3s ease-in-out;
}
button[value="submit"]:hover {
    background-color: #E75480;
    transform: scale(1.01);
    transition: .3s ease-in-out;
}
#phoneNumber {
    height: 100%;
}
.security {
    margin: 1.5rem 0;
    background-color: #D3D3D3;
    padding: 0 1.5rem;
    border-radius: 10px;
}
/*===============
THANK-YOU PAGE
===============*/
/*The thank-you page is a redirect page when 
a user submits a form.*/
img[src='images/pug.jpg'] {
    width: 90%;
}


/*END SMALL SCREEN QUERY*/

@media (min-width: 768px) {
    /*===============
    CODE COMMON TO ALL PAGES
    ===============*/
    .home-card {
        height: 249px;
    }
    .wrap {
        min-height: calc(100vh - 100px);
    }
    .jumbotron {
        height: 60vh;
        background-position-x: 50%;
    }
    /*===============
    HOME PAGE
    ===============*/
    /* .quoteBackgroundImage {
        width: 250px;
    } */
    #secondary-content .container {
        flex-direction: row;
        justify-content: space-around;
    }
    /*===============
    CONTACT PAGE
    ===============*/
    #contact .container {
        margin-bottom: 0;
    }
    /*===============
    THANK-YOU PAGE
    ===============*/
    /*The thank-you page is a redirect page when 
    a user submits a form.*/
    img[src='images/pug.jpg'] {
        width: 60%;
    }

}

/*END MEDIUM SCREEN QUERY*/

@media (min-width: 1024px) {
    /*===============
    CODE COMMON TO ALL PAGES
    ===============*/
    .jumbotron {
        height: 100vh;
    }
    /* navbar */
    /* .navbar {
        opacity: 0.5;
    } */
    .navbar-nav a {
        position: relative;
    }

    .nav-item a::before,
    .nav-item a::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        border: 2px solid rgba(0,0,0,0.1);
        border-radius: 50%;
        content: '';
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        transform: translateX(-50%) translateY(-50%) scale(0.2);
    }

    .nav-item a::after {
        width: 80px;
        height: 80px;
        border-width: 6px;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
    }

    .nav-item a:hover::before,
    .nav-item a:hover::after,
    .nav-item a:focus::before,
    .nav-item a:focus::after {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }

    .navbar-nav .active {
        transform: scale(1.1);
    }

    .navbar-nav .active::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        border: 2px solid rgba(0,0,0,0.1);
        border-radius: 50%;
        content: '';
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(0.2);
    }

    .nav-item .active::after {
        opacity: 1;
        width: 80px;
        height: 80px;
        border-width: 6px;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
    }


    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.3rem;
        transition: all .5s ease-in-out;
        font-weight: 900;
    }

    .nav-link {
        color: #414141 !important;
    }
    
    /* .navbar {
        box-shadow: 0px 5px 15px 0px #000;
    } */

    .navbar-toggle {
        display: none !important;
    }

    .logo-image {
        width: 200px;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    footer br {
        display: none;
    }
    .scrolledNav {
        height: 55px;
    }
    /* Up-arrow */
    .up-arrow {
        background-color: rgba(55,55,55,0.5);
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 70px;
        right: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
        cursor: pointer;
        z-index: 1000;
    }
    .up-arrow i {
        margin-bottom: 5px;
        font-size: 35px;
    }
    .up-arrow:hover {
        background-color: #373737;
        box-shadow: 0px 5px 15px 0px #373737;
        transition: .2s ease-in-out;
    }
    /* Other */
    .vl::before {
        display: block;
    }
    hr {
        display: none;
    }
    /*===============
    HOME PAGE
    ===============*/
    .modal-dialog {
        max-width: 700px;
    }
    .jumbo-image {
        padding: 4rem 2rem;
    }    

    /*----------
    Jumbotron
    -----------*/
    #jumbo-text {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 900;
    }
    #jumbo-text h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    #jumbo-text p {
        font-size: 2rem;
    }
    
    /*----------
    section main-content
    ----------*/
    .home-card {
        height: 300px;
        background-size: cover;
        background-position: center;
        position: relative;
        transition: .4s;
    }
    
    
    .home-card:hover {
        transition: .4s;
    }
    
    .home-card1 {
        background-image: url('images/card/calendar1.png');
    }
    
    .home-card1:hover {
        background-image: url('images/card/calendar2.png');
    }
    
    .home-card2 {
        background-image: url('images/card/adena4.jpg');
    }
    
    .home-card2:hover {
        background-image: url('images/card/adena5.jpg');
    }
    
    .home-card3 {
        background-image: url('images/card/helloDecember.jpg');
    }
    
    .home-card3:hover {
        background-image: url('images/card/products2.png');
    }
    
    .home-card4 {
        background-image: url('images/card/products4.png');
    }
    
    .home-card4:hover {
        background-image: url('images/card/products.png');
    }
    
    .home-card-info {
        height: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    
    .home-card:hover .home-card-info {
        height: 100%;
        transition: .3s ease-in-out;
    }
    
    .home-card:hover .home-card-info p {
        color: #DC143C;
        font-weight: 900;
        font-size: 2rem;
        opacity: 1;
        transition: .3s ease-in-out;
    }

    .home-card:hover .home-card-info {
        opacity: 1;
    }
    /*---------------
    section secondary-content
    ---------------*/
    #secondary-content .container {
        flex-direction: row;
    }
    /*---Daily Quote---*/
    .dailyQuoteText, .dailyQuoteTextName {
        display: block;
    }
    #maryKayQuote {
        height: 325px;
    }
    .quoteBackgroundImage {
        height: 324px;
    }    
    .dailyQuoteText {
        width: 330px;
        /* height: 2px; */
        position: absolute;
        top: 15%;
        left: 30%;
        /* transform: translateX(-30px); */    
    }

    .dailyQuoteTextName {
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        bottom: 50px;    
    }

    /*---Home Card---*/
    .home-card-info {
        height: 0px;
    }
    .home-card-info p {
        opacity: 0;
    }

    
    /*===============
    CONTACT PAGE
    ===============*/
    fieldset {
        width: 75%;
    }
    /* #contact .container {
        flex-direction: row;
    } */
    /* form {
        width: 65%;
    } */
    /* #phoneNumber {
        width: 35%;
    } */
    /*===============
    THANK-YOU PAGE
    ===============*/
    /*The thank-you page is a redirect page when 
    a user submits a form.*/
    img[src='images/pug.jpg'] {
        width: 50%;
    }


}
/*==========
OTHER
==========*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}